<%- include('header') %>
<%- include('navbar') %>

<section class="dashboard">
    <div class="top">
        <i class="uil uil-bars sidebar-toggle"></i>

        <div class="search-box">
            <i class="uil uil-search"></i>
            <input type="text" placeholder="Search here...">
        </div>

        <div class="user-details">
            <div class="username d-none d-md-block">
                Hello <%= username %> 
            </div>
            <img src=<%= userpicture %> alt="">
            
        </div>

    </div>
    
    <video id="videoPlayer" class="" controls muted="muted" autoplay>
        <source src="/video" type="video/mp4" />
    </video>


    <div class="stream">
        <div class="mt-3 stream-img-holder">
            <img src="<%= image %>" class="stream-img">
        </div>
        <div class="ms-md-3 ms-0">
            <h1 class="mt-3 fw-bold"> <%= title %> </h4>
            <h6 class="mt-3"> <%= description %> </h6>
        </div>
    </div>
        
    



    <%- include('footer') %>