<%- include('header') %>
<div class="userAuth">
    <div class="row" style="height: 100vh">
        <div class="login-form">
            <div class="login100-form validate-form">
                <a href="/">
                    <img src="/images/PhonePe_Images_zjha50 (2).png" style="height: 70px; width: 80px;"
                        class="login-logo">
                </a>
                <span class="login100-form-title">
                    Enter your verification code
                </span> 
                <form class="" action="/verify/<%= url %> " method="post">
                    <div class="code-container">
                        
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                            <input type="number" class="code" placeholder="" min="0" max="9" name="one" required>
                        
                    </div>
                    <div class="text-center mt-3">
                        <p style="color: #4BB543; font-size: 1rem;">
                            <%- verify %>
                        </p>
                        <p style="color: red; font-size: 1rem;">
                            <%- verifyError %>
                        </p>
                        <p style="color: #4BB543; font-size: 1rem;">
                            <%- verifySuccess %>
                        </p>
                        <p style="color: red; font-size: 1rem;">
                            <%- verifyTimeout %>
                        </p>
                    </div>
                    
                    <div class="row mt-3">
                        <div class="col-md-6 text-center">
                            <a href="/login">
                                Click here to login...
                            </a>
                        </div>
                        <div class="col-md-6 text-center">
                            <a href="/generateToken/<%= url %>">
                                Resend verification code?
                            </a>
                        </div>
                    </div>
                    <div class="container-login100-form-btn mt-3">
                        <button class="login100-form-btn">
                            Verify
                        </button>
                    </div>
                </form>
                
            </div>
        </div>
        
    </div>
    <%- include('footer') %>